body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1338px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:102px;
  width:300px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  word-wrap:break-word;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:102px;
  width:300px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  word-wrap:break-word;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:102px;
  width:300px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  word-wrap:break-word;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:178px;
  width:191px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  word-wrap:break-word;
}
#u244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:264px;
  width:218px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:214px;
  word-wrap:break-word;
}
#u245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:351px;
  width:161px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:60px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:368px;
  width:238px;
  height:60px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:234px;
  word-wrap:break-word;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:60px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:478px;
  width:238px;
  height:60px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:234px;
  word-wrap:break-word;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:60px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:697px;
  width:251px;
  height:60px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:247px;
  word-wrap:break-word;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:210px;
  width:0px;
  height:0px;
}
#u249_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u249_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:18px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:538px;
  width:0px;
  height:0px;
}
#u250_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:163px;
}
#u250_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:147px;
  width:18px;
  height:18px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:1219px;
  top:428px;
  width:0px;
  height:0px;
}
#u251_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:162px;
}
#u251_seg1 {
  border-width:0px;
  position:absolute;
  left:-150px;
  top:154px;
  width:154px;
  height:8px;
}
#u251_seg2 {
  border-width:0px;
  position:absolute;
  left:-150px;
  top:154px;
  width:8px;
  height:115px;
}
#u251_seg3 {
  border-width:0px;
  position:absolute;
  left:-155px;
  top:257px;
  width:18px;
  height:18px;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:150px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:317px;
  width:0px;
  height:0px;
}
#u252_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u252_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:22px;
  width:18px;
  height:18px;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:291px;
  width:0px;
  height:0px;
}
#u253_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:765px;
  height:8px;
}
#u253_seg1 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:-4px;
  width:8px;
  height:81px;
}
#u253_seg2 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:65px;
  width:18px;
  height:18px;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:369px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:378px;
  width:0px;
  height:0px;
}
#u254_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:648px;
  height:8px;
}
#u254_seg1 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:-4px;
  width:8px;
  height:104px;
}
#u254_seg2 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:88px;
  width:18px;
  height:18px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:322px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:587px;
  width:208px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:204px;
  word-wrap:break-word;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:398px;
  width:0px;
  height:0px;
}
#u256_seg0 {
  border-width:0px;
  position:absolute;
  left:-375px;
  top:-4px;
  width:375px;
  height:8px;
}
#u256_seg1 {
  border-width:0px;
  position:absolute;
  left:-375px;
  top:-4px;
  width:8px;
  height:193px;
}
#u256_seg2 {
  border-width:0px;
  position:absolute;
  left:-380px;
  top:177px;
  width:18px;
  height:18px;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:-330px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:508px;
  width:0px;
  height:0px;
}
#u257_seg0 {
  border-width:0px;
  position:absolute;
  left:-229px;
  top:-4px;
  width:229px;
  height:8px;
}
#u257_seg1 {
  border-width:0px;
  position:absolute;
  left:-229px;
  top:-4px;
  width:8px;
  height:83px;
}
#u257_seg2 {
  border-width:0px;
  position:absolute;
  left:-234px;
  top:67px;
  width:18px;
  height:18px;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:-202px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:687px;
  width:0px;
  height:0px;
}
#u258_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u258_seg1 {
  border-width:0px;
  position:absolute;
  left:-526px;
  top:25px;
  width:530px;
  height:8px;
}
#u258_seg2 {
  border-width:0px;
  position:absolute;
  left:-526px;
  top:-313px;
  width:8px;
  height:346px;
}
#u258_seg3 {
  border-width:0px;
  position:absolute;
  left:-526px;
  top:-313px;
  width:65px;
  height:8px;
}
#u258_seg4 {
  border-width:0px;
  position:absolute;
  left:-473px;
  top:-318px;
  width:18px;
  height:18px;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:-496px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:687px;
  width:0px;
  height:0px;
}
#u259_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u259_seg1 {
  border-width:0px;
  position:absolute;
  left:-526px;
  top:25px;
  width:530px;
  height:8px;
}
#u259_seg2 {
  border-width:0px;
  position:absolute;
  left:-526px;
  top:-400px;
  width:8px;
  height:433px;
}
#u259_seg3 {
  border-width:0px;
  position:absolute;
  left:-526px;
  top:-400px;
  width:37px;
  height:8px;
}
#u259_seg4 {
  border-width:0px;
  position:absolute;
  left:-501px;
  top:-405px;
  width:18px;
  height:18px;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:-526px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:758px;
  width:208px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:204px;
  word-wrap:break-word;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:858px;
  width:0px;
  height:0px;
}
#u261_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u261_seg1 {
  border-width:0px;
  position:absolute;
  left:-526px;
  top:32px;
  width:530px;
  height:8px;
}
#u261_seg2 {
  border-width:0px;
  position:absolute;
  left:-526px;
  top:-484px;
  width:8px;
  height:524px;
}
#u261_seg3 {
  border-width:0px;
  position:absolute;
  left:-526px;
  top:-484px;
  width:65px;
  height:8px;
}
#u261_seg4 {
  border-width:0px;
  position:absolute;
  left:-473px;
  top:-489px;
  width:18px;
  height:18px;
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:-572px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:858px;
  width:0px;
  height:0px;
}
#u262_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u262_seg1 {
  border-width:0px;
  position:absolute;
  left:-526px;
  top:32px;
  width:530px;
  height:8px;
}
#u262_seg2 {
  border-width:0px;
  position:absolute;
  left:-526px;
  top:-571px;
  width:8px;
  height:611px;
}
#u262_seg3 {
  border-width:0px;
  position:absolute;
  left:-526px;
  top:-571px;
  width:37px;
  height:8px;
}
#u262_seg4 {
  border-width:0px;
  position:absolute;
  left:-501px;
  top:-576px;
  width:18px;
  height:18px;
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:-572px;
  top:-11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:956px;
  width:150px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:727px;
  width:0px;
  height:0px;
}
#u264_seg0 {
  border-width:0px;
  position:absolute;
  left:-222px;
  top:-4px;
  width:222px;
  height:8px;
}
#u264_seg1 {
  border-width:0px;
  position:absolute;
  left:-222px;
  top:-4px;
  width:8px;
  height:35px;
}
#u264_seg2 {
  border-width:0px;
  position:absolute;
  left:-227px;
  top:19px;
  width:18px;
  height:18px;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:757px;
  width:0px;
  height:0px;
}
#u265_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:153px;
}
#u265_seg1 {
  border-width:0px;
  position:absolute;
  left:-348px;
  top:145px;
  width:352px;
  height:8px;
}
#u265_seg2 {
  border-width:0px;
  position:absolute;
  left:-348px;
  top:145px;
  width:8px;
  height:54px;
}
#u265_seg3 {
  border-width:0px;
  position:absolute;
  left:-353px;
  top:187px;
  width:18px;
  height:18px;
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:-172px;
  top:141px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:1044px;
  width:191px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  word-wrap:break-word;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:1005px;
  width:0px;
  height:0px;
}
#u267_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u267_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:18px;
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:914px;
  background:inherit;
  background-color:rgba(0, 102, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:162px;
  width:49px;
  height:914px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:303px;
  width:45px;
  word-wrap:break-word;
}
#u269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:915px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:162px;
  width:1px;
  height:914px;
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:915px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:162px;
  width:1px;
  height:914px;
}
#u270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:438px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:388px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:548px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:498px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:781px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:717px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
