body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1628px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:101px;
  width:355px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:351px;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:101px;
  width:355px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:351px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:101px;
  width:355px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:351px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:173px;
  width:142px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:266px;
  width:221px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:217px;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:380px;
  width:142px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:138px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:53px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:556px;
  width:206px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:202px;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:1151px;
  top:692px;
  width:221px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:217px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:679px;
  width:105px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:101px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:53px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:818px;
  width:206px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:202px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:1151px;
  top:916px;
  width:221px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:217px;
  word-wrap:break-word;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:211px;
  width:0px;
  height:0px;
}
#u11_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u11_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:43px;
  width:18px;
  height:18px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:330px;
  width:0px;
  height:0px;
}
#u12_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u12_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:38px;
  width:18px;
  height:18px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:438px;
  width:0px;
  height:0px;
}
#u13_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u13_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:63px;
}
#u13_seg2 {
  border-width:0px;
  position:absolute;
  left:-501px;
  top:56px;
  width:505px;
  height:8px;
}
#u13_seg3 {
  border-width:0px;
  position:absolute;
  left:-501px;
  top:56px;
  width:8px;
  height:62px;
}
#u13_seg4 {
  border-width:0px;
  position:absolute;
  left:-506px;
  top:106px;
  width:18px;
  height:18px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:-298px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:583px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-4px;
  width:100px;
  height:8px;
}
#u14_seg1 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-4px;
  width:8px;
  height:100px;
}
#u14_seg2 {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:84px;
  width:18px;
  height:18px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:-146px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:730px;
  width:0px;
  height:0px;
}
#u15_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u15_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:32px;
  width:207px;
  height:8px;
}
#u15_seg2 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:32px;
  width:8px;
  height:56px;
}
#u15_seg3 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:76px;
  width:18px;
  height:18px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:58px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:845px;
  width:0px;
  height:0px;
}
#u16_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:831px;
  height:8px;
}
#u16_seg1 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:-4px;
  width:8px;
  height:75px;
}
#u16_seg2 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:59px;
  width:18px;
  height:18px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:399px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:609px;
  width:0px;
  height:0px;
}
#u17_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u17_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:47px;
}
#u17_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg3 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg4 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg5 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg7 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg8 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg9 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg10 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg11 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg12 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg13 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg14 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg15 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg16 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg17 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg18 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg19 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg20 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg21 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg22 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg23 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg24 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg25 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg26 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg27 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg28 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg29 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg30 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg31 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg32 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg33 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg34 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg35 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg36 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg37 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg38 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg39 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg40 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg41 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg42 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg43 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg44 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg45 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg46 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg47 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg48 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg49 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg50 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg51 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg52 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg53 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg54 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg55 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg56 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg57 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg58 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg59 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg60 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg61 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg62 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg63 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg64 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg65 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg66 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg67 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg68 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg69 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg70 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg71 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg72 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg73 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg74 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg75 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg76 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg77 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg78 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg79 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg80 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg81 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg82 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg83 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg84 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg85 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg86 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg87 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg88 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg89 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg90 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg91 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg92 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg93 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg94 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg95 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg96 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg97 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg98 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg99 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg100 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg101 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg102 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg103 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg104 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg105 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg106 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg107 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg108 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg109 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg110 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg111 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg112 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg113 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg114 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg115 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg116 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg117 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg118 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg119 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg120 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg121 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg122 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg123 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg124 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg125 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg126 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg127 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg128 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg129 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg130 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg131 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg132 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg133 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg134 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg135 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg136 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg137 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg138 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg139 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg140 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:40px;
  width:9px;
  height:8px;
}
#u17_seg141 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:40px;
  width:799px;
  height:8px;
}
#u17_seg142 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:40px;
  width:8px;
  height:43px;
}
#u17_seg143 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:71px;
  width:18px;
  height:18px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:412px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:787px;
  width:142px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:1011px;
  width:142px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:1262px;
  top:980px;
  width:0px;
  height:0px;
}
#u20_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u20_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:19px;
  width:18px;
  height:18px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:53px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:963px;
  width:226px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:222px;
  word-wrap:break-word;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:871px;
  width:0px;
  height:0px;
}
#u22_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:96px;
}
#u22_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:80px;
  width:18px;
  height:18px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:1262px;
  top:756px;
  width:0px;
  height:0px;
}
#u23_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u23_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:19px;
  width:18px;
  height:18px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:627px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:573px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:881px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:835px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:53px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:1179px;
  width:206px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:202px;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1091px;
  width:105px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:101px;
  word-wrap:break-word;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:990px;
  width:0px;
  height:0px;
}
#u30_seg0 {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:-4px;
  width:70px;
  height:8px;
}
#u30_seg1 {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:-4px;
  width:8px;
  height:105px;
}
#u30_seg2 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:89px;
  width:18px;
  height:18px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:-116px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:1142px;
  width:0px;
  height:0px;
}
#u31_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u31_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:16px;
  width:335px;
  height:8px;
}
#u31_seg2 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:16px;
  width:8px;
  height:21px;
}
#u31_seg3 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:25px;
  width:18px;
  height:18px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:112px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:53px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:1318px;
  width:206px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:202px;
  word-wrap:break-word;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:1232px;
  width:0px;
  height:0px;
}
#u33_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u33_seg1 {
  border-width:0px;
  position:absolute;
  left:-152px;
  top:51px;
  width:156px;
  height:8px;
}
#u33_seg2 {
  border-width:0px;
  position:absolute;
  left:-152px;
  top:51px;
  width:8px;
  height:35px;
}
#u33_seg3 {
  border-width:0px;
  position:absolute;
  left:-157px;
  top:74px;
  width:18px;
  height:18px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:1016px;
  width:0px;
  height:0px;
}
#u34_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:306px;
}
#u34_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:290px;
  width:18px;
  height:18px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:143px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:1396px;
  top:1273px;
  width:221px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:217px;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:1436px;
  top:1368px;
  width:142px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:1507px;
  top:1337px;
  width:0px;
  height:0px;
}
#u37_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u37_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:19px;
  width:18px;
  height:18px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:1206px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:928px;
  height:8px;
}
#u38_seg1 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:-4px;
  width:8px;
  height:71px;
}
#u38_seg2 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:55px;
  width:18px;
  height:18px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:446px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:64px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:1407px;
  top:916px;
  width:221px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:217px;
  word-wrap:break-word;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:1045px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:980px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:1458px;
  width:221px;
  height:85px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:217px;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:1587px;
  width:142px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:1242px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:1196px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:53px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:1457px;
  width:206px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:202px;
  word-wrap:break-word;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:1345px;
  width:0px;
  height:0px;
}
#u47_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:980px;
  height:8px;
}
#u47_seg1 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:-4px;
  width:8px;
  height:117px;
}
#u47_seg2 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:101px;
  width:18px;
  height:18px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:494px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:1371px;
  width:0px;
  height:0px;
}
#u48_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:90px;
}
#u48_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:74px;
  width:18px;
  height:18px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:1543px;
  width:0px;
  height:0px;
}
#u49_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u49_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:18px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:1385px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:1335px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:1571px;
  width:142px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:1510px;
  width:0px;
  height:0px;
}
#u53_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u53_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:49px;
  width:18px;
  height:18px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:1553px;
  width:221px;
  height:85px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:217px;
  word-wrap:break-word;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:1682px;
  width:142px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:1638px;
  width:0px;
  height:0px;
}
#u56_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u56_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:18px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:1484px;
  width:0px;
  height:0px;
}
#u57_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:773px;
  height:8px;
}
#u57_seg1 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:-4px;
  width:8px;
  height:73px;
}
#u57_seg2 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:57px;
  width:18px;
  height:18px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:369px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:1520px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:1474px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1566px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:155px;
  width:1px;
  height:1565px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1566px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:155px;
  width:1px;
  height:1565px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
