body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1137px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:996px;
  height:701px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:996px;
  height:701px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:858px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:892px;
  width:1037px;
  height:858px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:698px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1781px;
  width:1024px;
  height:698px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:388px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:2489px;
  width:1030px;
  height:388px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:545px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:2909px;
  width:1023px;
  height:545px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
